
<!-- header file -->
<%- include("header") -%>


<div class="mob">
    <h1>Work under progress for mobile view</h1>
</div>

    <div class="">

        <!-- Top strip -->

        <div class="strip flexme contain_me white_txt">
            <div id="time">
                28th Sep 2021, Tuesday 06:05:34 PM IST
            </div>
        </div>

         <!-- Navbar -->

         <div class="nav flexme justifyme white_txt">
            <div class="logo flexme point_on">
                <img src="img/logo.svg" alt="deslize logo">
                <a href="/">Deslize</a>
            </div>
            <div class="links flexme ">

                <div> <a href="latest"> Latest </a> </div>
                <div> <a href="politics"> Politics </a> </div>
                <div> <a href="business"> Business </a> </div>
                <div> <a href="entertainment"> Entertainment </a> </div>
                <div> <a href="#category"> More </a> </div>

            </div>
            <a href="#newsletter">
                <div class="cta point_on">
                    Sign up Newsletter
               </div>
            </a>

        </div>


        <!-- Website content -->

        <!-- Page 1------------------------------------------------------------------------------------------------------- -->

        <div class="home_contain contain_me white_txt">     
            
            <div class="home_content flexme">

                <div class="landing_text">
                    <div class="small_title">The Name You Know.</div>
                    <div class="large_title">The News You Need.</div>
                    <div class="content_title">Get short news. Stay updated just by reading 60 words. 
                        Only website where you can read top articles in a OTT platform like 
                        User Experience and not only that we delivers wide category of news.
                    </div>
                </div>

                <div class="landing_images">

                    <div class="upper flexme">


                        <%for(let i=0; i<2; i++){%>

                            <div class="home_card c1">
                                <img class="home_crsl_img" src="img/small_1.png"></img>
                            </div>
    
                            <div class="home_card c1">
                                <img class="home_crsl_img" src="img/small_2.jpg"></img>
                            </div>
    
                            <div class="home_card c1">
                                <img class="home_crsl_img" src="img/small_3.jfif"></img>
                            </div>
    
                            <div class="home_card c1">
                                <img class="home_crsl_img" src="img/small_4.gif" style="height:100%; width:auto"></img>
                            </div>
    
                            <div class="home_card c1">
                                <img class="home_crsl_img" src="img/small_5.jpg"></img>
                            </div>
    
                            <div class="home_card c1">
                                <img class="home_crsl_img" src="img/small_6.jpg" ></img>
                            </div>

                        <%}%>

                    </div>

                    <div class="lower flexme">

                        <%for(let i=0; i<2; i++){%>
                            <div class="home_card c2">
                                <img class="home_crsl_img" src="img/large_1.jpg"></img>
                            </div>

                            <div class="home_card c2">
                                <img class="home_crsl_img" src="img/large_2.jpg" style="width: auto; height: 100%;"></img>
                            </div>

                            <div class="home_card c2">
                                <img class="home_crsl_img" src="img/large_3.jpg" style="width: auto; height: 100%;"></img>
                            </div>

                            <div class="home_card c2">
                                <img class="home_crsl_img" src="img/large_4.jpg" style="width: auto; height: 100%;"></img>
                            </div>

                            <div class="home_card c2">
                                <img class="home_crsl_img" src="img/large_5.png" style="width: auto; height: 100%;"></img>
                            </div>

                            <div class="home_card c2">
                                <img class="home_crsl_img" src="img/large_6.jpg" style="width: auto; height: 100%;"></img>
                            </div>
                        <%}%>

                    </div>

                </div>

            </div>

            <div class="mouse"> </div>

        </div>

        <!-- Page break -->

        <div class="page_break "></div>

        <!-- Page 2------------------------------------------------------------------------------------------------------- -->

        <div class="content_page contain_me img_page2">
            <div class="heading">
                LATEST
            </div>

            <!-- Move right -->
            <div class="move_left1 point_on"></div>

            <!-- Cards -->
            <div class="carousel ">

                <% ejs_latest_data.data.forEach((data)=>{ %>

                    <div class="card1">
    
                        <!-- top part -->
                        <div class="top">
    
                            <div class="thumbnail">
                                <img class="thumbnail_image" src=<%= data.imageUrl%>></img>
                            </div>                        
                            <div class="div"></div>
                            <div class="title_info">
        
                                <div class="card_time"> <div class="dot"></div> <%= data.time %> </div>
        
                                <div class="card_title"> <%= data.title %>  
                                </div>
        
                                <div class="card_info flexme">
                                    <div class="day"> <%= data.date %> </div>
                                    <div class="author">- <%= data.author %></div>
                                </div>
        
                            </div>
                        </div>
    
                        <!-- break -->
                        <div class="story">Story:</div>
    
                        <!-- bottom -->
                        <div class="bottom"><%= data.content %>
                        </div>
        
                    </div>
    
                <%})%>

            </div>

            <!-- Move right -->
            <div class="move_right1 point_on"></div>               

        </div>        


        <!-- Page break -->

        <div class="page_break"></div>

        <!-- Page 3-------------------------------------------------------------------------------------------------------- -->
        
        <div class="content_page contain_me img_page3">
            <div class="heading">
                POLITICS
            </div>

            <!-- Move right -->
            <div class="move_left2 point_on"></div>

            <!-- Cards -->
            <div class="carousel ">

                <% ejs_politics_data.data.forEach((data)=>{ %>

                    <div class="card2">
    
                        <!-- top part -->
                        <div class="top">
    
                            <div class="thumbnail">
                                <img class="thumbnail_image" src=<%= data.imageUrl%>></img>
                            </div>                        
                            <div class="div"></div>
                            <div class="title_info">
        
                                <div class="card_time"> <div class="dot"></div> <%= data.time %> </div>
        
                                <div class="card_title"> <%= data.title %>  
                                </div>
        
                                <div class="card_info flexme">
                                    <div class="day"> <%= data.date %> </div>
                                    <div class="author">- <%= data.author %></div>
                                </div>
        
                            </div>
                        </div>
    
                        <!-- break -->
                        <div class="story">Story:</div>
    
                        <!-- bottom -->
                        <div class="bottom"><%= data.content %>
                        </div>
        
                    </div>
    
                <%})%>

            </div>

            <!-- Move right -->
            <div class="move_right2 point_on"></div>               

        </div>        


        <!-- Page break -->

        <div class="page_break"></div>

        <!-- Page 4-------------------------------------------------------------------------------------------------------- -->
    
            <div class="content_page contain_me img_page4">
                <div class="heading">
                    BUSINESS
                </div>
    
                <!-- Move right -->
                <div class="move_left3 point_on"></div>
    
                <!-- Cards -->
                <div class="carousel ">
    
                    <% ejs_business_data.data.forEach((data)=>{ %>

                        <div class="card3">
        
                            <!-- top part -->
                            <div class="top">
        
                                <div class="thumbnail">
                                    <img class="thumbnail_image" src=<%= data.imageUrl%>></img>
                                </div>                        
                                <div class="div"></div>
                                <div class="title_info">
            
                                    <div class="card_time"> <div class="dot"></div> <%= data.time %> </div>
            
                                    <div class="card_title"> <%= data.title %>  
                                    </div>
            
                                    <div class="card_info flexme">
                                        <div class="day"> <%= data.date %> </div>
                                        <div class="author">- <%= data.author %></div>
                                    </div>
            
                                </div>
                            </div>
        
                            <!-- break -->
                            <div class="story">Story:</div>
        
                            <!-- bottom -->
                            <div class="bottom"><%= data.content %>
                            </div>
            
                        </div>
        
                    <%})%>
    
                </div>
    
                <!-- Move right -->
                <div class="move_right3 point_on"></div>               
    
            </div>        
    
    
            <!-- Page break -->
    
            <div class="page_break"></div>

        <!-- Page 5-------------------------------------------------------------------------------------------------------- -->

        <div class="categories_page contain_me ">

            <div class="heading" style="color: white;">
                CATEGORIES
            </div>

            <section class="all_category " id="category">

                <a href="latest" class="category latest_card point_on">
                        <div class="card_heading">Latest</div> 
                </a>
                
                <a href="politics" class="category politics_card point_on"> 
                    <div class="card_heading">Politics</div></a>

                <a href="business" class="category business_card point_on">
                    <div class="card_heading">Business</div>                 
                </a>

                <a href="sports" class="category sports_card point_on">
                    <div class="card_heading">Sports</div> 
                </a>

                <a href="science" class="category science_card point_on">
                    <div class="card_heading">Science</div>            
                </a>

                <a href="technology" class="category tech_card point_on">
                    <div class="card_heading">Technology</div> 
                </a>

                <a href="startup" class="category startup_card point_on">
                    <div class="card_heading">Startup</div> 
                </a>

                <a href="entertainment" class="category entertainment_card point_on">
                    <div class="card_heading">Entertainment</div> 
                </a>

                <a href="automobile" class="category auto_card point_on">
                    <div class="card_heading">Automobile</div> 
                </a>
            </section>

        </div>

            <!-- Page break -->
        
            <div class="page_break"></div>
        

        <!-- Page 6-------------------------------------------------------------------------------------------------------- -->

        <section class="newsletter_page contain_me img_newsletter" id="newsletter">
            <div class="news_head">
                NEWSLETTER
            </div>           
            
            <form action="/" class="newsletter_form flexme" method="POST">
                <input type="text" placeholder="Name" name="user_name" required autocomplete="off">
                <input type="email" placeholder="Email id" name="user_email" required autocomplete="off">
                <input type="tel" placeholder="Phone no." name="user_phone" required autocomplete="off">
                <input type="text" placeholder="Interests" name="user_interest" required autocomplete="off">
                <button type="submit" class="submit_btn point_on">Sign up</button>
            </form>

        </section>   

        <!-- Footer -->
        <div class="footer contain_me flexme justifyme">
            <div class="logo white_txt flexme">
                <img src="img/logo.svg" alt="deslize logo">
                Deslize
            </div>
            <div class="social_media flexme">
                <a class="s_icon" href="https://www.instagram.com/devik_kamath/" target="_blank">
                    <img src="img/instagram.svg" alt="instagram" class="point_on">
                </a>
                <a class="s_icon" href="https://www.linkedin.com/in/devik-kamath-88110b1a5/"target="_blank">
                    <img src="img/linkedin.svg" alt="linkedin" class="point_on">
                </a>
                <a class="s_icon" href="https://twitter.com/KamathDevik"target="_blank">
                    <img src="img/twitter.svg" alt="twitter" class="point_on">
                </a>
                <a class="s_icon" href="https://in.pinterest.com/devikkamath/_saved/"target="_blank">
                    <img src="img/pinterest.svg" alt="pinterest" class="point_on">
                </a>
                <a class="s_icon" href="https://github.com/Devik225" target="_blank">
                    <img src="img/github.svg" alt="github" class="point_on">
                </a>
            </div>
            <div class="my_name">@devik_kamath</div>
        </div>




    </div>



<!-- footer file -->
<%- include("footer") -%>
