
<!-- header file -->
<%- include("header") -%>



         <!-- Navbar -->

         <div class="nav flexme justifyme white_txt news_nav">
            <div class="logo flexme point_on">
                <img src="img/logo.svg" alt="deslize logo">
                <a href="/">Deslize</a>
            </div>

            <a href="/#category" class="back point_on">
                <span class="material-icons back_icon">
                    arrow_back_ios
                    </span>
                Back
            </a>
        </div>


        <!-- Website content -->

        <div class="news_contain contain_me ">     


            <div class="news--head"> <%= ejs_section_name %></div>


            <!-- Move right -->
            <div class="move_left1 point_on movedown_arrow"></div>

            <!-- Cards -->
            <div class="carousel movedown ">

            <% ejs_data.data.forEach((data)=>{ %>

                <div class="card1">

                    <!-- top part -->
                    <div class="top">

                        <div class="thumbnail">
                            <img class="thumbnail_image" src=<%= data.imageUrl%>></img>
                        </div>                        
                        <div class="div"></div>
                        <div class="title_info">
    
                            <div class="card_time"> <div class="dot"></div> <%= data.time %> </div>
    
                            <div class="card_title"> <%= data.title %>  
                            </div>
    
                            <div class="card_info flexme">
                                <div class="day"> <%= data.date %> </div>
                                <div class="author">- <%= data.author %></div>
                            </div>
    
                        </div>
                    </div>

                    <!-- break -->
                    <div class="story">Story:</div>

                    <!-- bottom -->
                    <div class="bottom"><%= data.content %>
                    </div>
    
                </div>

            <%})%>


            </div>

            <!-- Move right -->
            <div class="move_right1 point_on movedown_arrow"></div>  
              
            

        </div>



<%- include("footer") -%>